/* table styles */
table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}
table th,
table td {
  padding: 12px 15px;
}
table tbody tr {
  border-bottom: 1px solid #dddddd;
}
table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
table td:nth-child(n+2) {
  text-align: center;
}
table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
table th,
table td:nth-child(1),
.image-table td,
.summary-table td {
  border-right: solid 2px;
  border-left: solid 2px;
}
table th {
  border-top: solid 2px;
}
.main-table th {
  position: sticky;
  top: 0;
  background-color: #727272;
  color: #e0e0e0;
}
.main-table tr:nth-of-type(even) td:nth-child(1) {
  background-color: #f3f3f3;
}
.main-table tr:nth-of-type(odd) td:nth-child(1) {
  background-color: #ffffff;
}
.main-table tr:nth-child(2),
.main-table tr:nth-child(2) td:nth-child(1) {
  position: sticky;
  top: 44px;
  background-color: #727272;
  color: #e0e0e0;
  z-index: 2;
}
.main-table th:nth-child(1),
.main-table td:nth-child(1) {
  position: sticky;
  left: 0;
}
.main-table th:nth-child(1){
  z-index: 2;
}
.main-table td:nth-child(3n+4) {
  border-left: dotted 1px;
}
.main-table td:nth-child(3n+1) {
  border-right: solid 2px;
}
div.gallery {
  margin: 5px;
  float: left;
  height: 300px;
}
div.gallery:hover {
  border: 1px solid #777;
}
div.gallery img {
  max-height: 300px;
  width: auto;
}
div.desc {
  padding: 10px;
  text-align: center;
}
